<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/user_info' %>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/event_feed' %>
    </div>
  </div>
<% else %>

  <div class="center jumbotron">

    <h1>Make an Appointment</h1>
    <p>
     You can manage your consults, workshops and training for the Shiatsu Centrum Amsterdam.
    </p>

  </div>
  
<% end %>


