<h1>Shiatsu Platform</h1>

<p>Beste <%= @user.fullname %>,</p>

<p>
Via deze e-mail nodigen we je uit om deel te nemen aan het online platform van Shiatsu Centrum Amsterdam. Hiermee krijg je toegang tot de gedeelde agenda.
Klik op de onderstaande link om je registratie te voltooien. 
</p>

<%= link_to "Registeren", edit_account_activation_url(@user.activation_token, email: @user.email) %>


<p>Namens Shiatsu Centrum Amsterdam,
<br><br>
Bart Bloemers
</p>


