<% @venue_user ||= current_user %>
<div class="stats">
  events:
  <a href="<%= planned_events_venue_user_path(@venue_user) %>">
    <strong id="planned_events" class="stat">
      <%= @venue_user.planned_events.count %>
    </strong>
    planned 
  </a>, 
  <a href="<%= archived_events_venue_user_path(@venue_user) %>">
    <strong id="workshops" class="stat">
      <%= @venue_user.archived_events.count %>
    </strong>
    archived
  </a>

</div>