<li id="event-<%= event.id %>">
  
  <span class="title">
    <%= link_to event.event_name, schedule_event_path("day",event) %>
  </span>
  <span class="content">
    NOT USED
  </span>
  <span class="timestamp">
    <%= event.event_type %> created  <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>


</li>