<% provide(:title, @event.event_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @event.event_name %>
      </h1>
      <%= @event.venue_user.user.fullname %>

      <hr/>

      <% if current_user.admin? || current_venue_user_id?(event.venue_user_id) %>
        <%= link_to "delete", schedule_event_path(@schedule,@event), method: :delete, class:"btn btn-default", data: {confirm:  "You sure?" } %>
      <% end %>

    </section>
  </aside>
  <div class="col-md-8">
        <%= link_to :back_to_schedule, on_schedule_path(@schedule, @event.space_entries.first.start_time.to_i) %>



  </div>
</div>