<footer class="footer">
  <small>
    an <a href="http://www.railstutorial.org/">Online shiatsu platform</a>
    by <a href="http://www.badjo.nl/">Bart Bloemers</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>